<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="multifactor-api-url" value="https://api.multifactor.ru"/>
    
    <!-- get it from multifactor management panel -->
    <add key="multifactor-api-key" value="key"/>
    <!-- get it from multifactor management panel -->
    <add key="multifactor-api-secret" value="secret"/>
    
    <!--HTTP proxy for API (optional)-->
    <!--<add key="multifactor-api-proxy" value="http://proxy:3128"/>-->

    <!--Enable bypass second factor when api unreachable (default: true)-->
    <!--<add key="bypass-second-factor-when-api-unreachable" value="false"/>-->

  </appSettings>
</configuration>