<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="multifactor-api-url" value="https://api.multifactor.ru"/>
    
    <!-- get it from multifactor management panel -->
    <add key="multifactor-api-key" value="key"/>
    <!-- get it from multifactor management panel -->
    <add key="multifactor-api-secret" value="secret"/>
    
    <!--HTTP proxy for API (optional)-->
    <!--<add key="multifactor-api-proxy" value="http://proxy:3128"/>-->

    <!--Enable bypass second factor when api unreachable (default: true)-->
    <!--<add key="bypass-second-factor-when-api-unreachable" value="false"/>-->

    <add key="logging-level" value="Debug"/>
    <!--<add key="logging-format" value="json"/>-->

    <!--<add key="syslog-server" value="udp://syslog-server:514"/>-->
    <!--<add key="syslog-format" value="RFC5424"/>-->
    <!--<add key="syslog-facility" value="Auth"/>-->
    <!--<add key="syslog-app-name" value="multifactor-adfs"/>-->
    <!--<add key="syslog-framer" value="OCTET_COUNTING"/>-->
    <!--<add key="syslog-use-tls" value="false"/>-->

    <!--Serilog output template for syslog messages-->
    <!--<add key="syslog-output-template" value=""/>-->
    <!--<add key="file-log-output-template" value=""/>-->

  </appSettings>
</configuration>